body{
   background-color: yellow;
}
    
h1{
    
    font-size:7pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    position: center;
}
h2{
    font-size: 4pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: violet;
    position: left;
}
li{
    font-size: 2.5pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkmagenta
    position: left;
}
ol{
    font-size: 2.5pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkmagenta;
    position: left; 
}
marquee{
    font-size: 2pt;
    color: red;
    font-family:'Times New Roman', Times, serif;
}

