body {
    background: #FCCC0A; 
}
.button {
    background-color: #FCCC0A;
    border-color: #FF6319;
    color: none;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .button:hover {
    background-color: #FF6319;
  }
  .button1 {border-radius: 50%;}
  .button2 {border-radius: 50%;}
  .button3 {border-radius: 50%;}
  .button4 {border-radius: 50%;}
  .button5 {border-radius: 50%;}
  .button6 {border-radius: 50%;}
  .button7 {border-radius: 50%;}
  .button8 {border-radius: 50%;}
  .button9 {border-radius: 50%;}
  .button10 {border-radius: 50%;}