body {
    font-family:helvetica;  
    font-size:xx-large;
    color:white;
    text-align: center;
}

section {
    font-family:helvetica;  
    font-size:xx-large;
    color:yellow;
    text-align: left;
}
