body {
    background: #FEF7EC; 
    font-family: 'VT323';
    
}.confetti-button-container {
  position: absolute;
  bottom: 5%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
  z-index: 2;
}

#confettiButton {
  padding: 1.5rem 3rem;
  background-color: #FF6319;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'VT323', sans-serif;
  font-size: 1.5rem;
  border-radius: 5px;
}

@media (max-width: 900px) {
  body {
    background-color: #00AEDB;
  }
}

@media (max-width: 900px) {
  marquee {
    color: #00B159;
  }
}

@media (min-width: 1300px) {
  body {
    background-color: #00B159;
  }
}
.center {
    width: 15%;
    height: 15%;
    -webkit-filter: blur(4px);
    filter: blur(4px)
}
.center:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px)
}
.center{
    z-index: 3;
    position: sticky;
    top:0; right:0;
}
.center-right {
  float: right;
  z-index: 2;
  position: sticky;
  top:0; right:0;
}
.center-right {
  width: 15%;
  height: 15%;
  -webkit-filter: blur(4px);
  filter: blur(4px)
}
.center-right:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px)
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow-x: hidden;
  padding: 20px;
  font-size: xx-large;
color: #FF6319;
  direction:ltr;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
      transform: translateX(0) rotate(-2deg); 
  }
  to {
      transform: translateX(-50%) rotate(-2deg); 
  }
}

.producer-container {
  position: relative;
  width: 100%;
  height: 60vh; 
  overflow: hidden;
}

.producer {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
    width:100%;
}
.button-container {
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    display: flex;
    align-items: center;
    z-index: 2;
}

